<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Registration Success</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Student Management System</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/users}">List of Teachers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/login}">Login as a teacher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container text-center">
  <h3>You have signed up successfully!</h3>
  <h4><a th:href="@{/login}">Click here to Login</a></h4>
</div>

</body>
</html>